Options -Indexes
RewriteEngine On

RewriteCond %{REQUEST_URI} ^/api/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^api/(.*)$ api/index.php [QSA,L]

<FilesMatch "\.(env|env\.php|sql|log)$">
    Require all denied
</FilesMatch>

ErrorDocument 404 /404.php
ErrorDocument 500 /500.php